<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.8.3</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>DEPLOY_LAUNCHER_NAME</string>
  <key>CFBundleIconFile</key>
  <string>DEPLOY_ICON_FILE</string>
  <key>CFBundleIdentifier</key>
  <string>DEPLOY_BUNDLE_IDENTIFIER</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>DEPLOY_BUNDLE_NAME</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>DEPLOY_BUNDLE_SHORT_VERSION</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>DEPLOY_BUNDLE_CATEGORY</string>
  <key>CFBundleVersion</key>
  <string>1249</string>
  <key>NSHumanReadableCopyright</key>
  <string>DEPLOY_BUNDLE_COPYRIGHT</string>
  <key>JVMRuntime</key>
  <string>DEPLOY_JAVA_RUNTIME_NAME</string>
  <key>JVMMainClassName</key>
  <string>DEPLOY_LAUNCHER_CLASS</string>
  <key>JVMAppClasspath</key>
  <string>DEPLOY_APP_CLASSPATH</string>
  <key>JVMMainJarName</key>
  <string>DEPLOY_MAIN_JAR_NAME</string>
  <key>JVMPreferencesID</key>
  <string>DEPLOY_PREFERENCES_ID</string>
  <key>JVMOptions</key>
  <array>
DEPLOY_JVM_OPTIONS
  </array>
  <key>JVMUserOptions</key>
  <dict>
DEPLOY_JVM_USER_OPTIONS
  </dict>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
  <key>NSUbiquitousContainers</key>
  <dict>
    <key>iCloud.com.setolabs.Cryptomator</key>
    <dict>
      <key>NSUbiquitousContainerIsDocumentScopePublic</key>
      <true/>
      <key>NSUbiquitousContainerName</key>
      <string>Cryptomator</string>
      <key>NSUbiquitousContainerSupportedFolderLevels</key>
      <string>Any</string>
    </dict>
  </dict>
  <!-- register .cryptomator bundle extension -->
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>LSItemContentTypes</key>
      <array>
        <string>org.cryptomator.vault-metadata</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>../Java/Cryptomator-Vault.icns</string>
      <key>CFBundleTypeName</key>
      <string>Cryptomator Vault Metadata</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>org.cryptomator.vault-metadata</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.utf8-plain-text</string>
        <string>public.json</string>
      </array>
      <key>UTTypeDescription</key>
      <string>Cryptomator Vault Metadata</string>
      <key>UTTypeIconFile</key>
      <string>../Java/Cryptomator-Vault.icns</string>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>cryptomator</string>
        </array>
        <key>public.mime-type</key>
        <array>
          <string>application/x-vnd.cryptomator-vault-metadata</string>
        </array>
      </dict>
    </dict>
  </array>
  <!-- allow utilization of integrated GPU, see https://developer.apple.com/library/mac/qa/qa1734/_index.html -->
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
</dict>
</plist>
